/* common CSS classes used along the app */

.temp-buttons {
  position: absolute;
  top: 0;
  left: 0px;
}

html, body
{
  height: 100%;
  font-family: RobotoDraft, Roboto, sans-serif;
  background-color: #f9f9f9;
}

.page {
  height: 100%;
}

a {
  color: #428bca;
  text-decoration: none;
}

/* material design class effect*/
.card {
  border-radius: 2px;
  background: white;
  display: block;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin: 8px;
  padding: 8px;
}

.player-name-box {
  text-align: center;
  width: 150px;
  height: 150px;
}

.face {
  border-radius: 100%;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}
.face.med {
  width: 75px;
}
.face.big {
  width: 96px;
}
