/* app css stylesheet */

.page {
  margin: 20px;
}

.startContainer {
  display: flex;
}

.startContainer > div {
  flex: 1;
}

.gameContainer {
  display: flex;
}

.gameContainer > div {
  flex: 1;
}

.gameCode {
  padding: 20px;
  background-color: rgb(206, 228, 225);
  border: 2px solid rgb(140, 166, 163);
  border-radius: 3px;
  font-size: 24px;
  display: inline-block;
  margin: 20px 0;
}

.generateButton {
  display: block;
}

.startButton {
  display: block;
}

.player {
    text-align: center;
    width: 100px;
    float:right;
}


.player.ng-enter {
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
  opacity:0;
}

.player.ng-enter.ng-enter-active {
  opacity:1;
}

.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}

.player.ng-enter .face {
  transition:all linear 0.5s;
  transform: translateX(-50px) rotate(-90deg);
}
.player.ng-enter.ng-enter-active .face {
  opacity:1;
  transform: translateX(0) rotate(0) ;
}
