/* app css stylesheet */

.page {
  margin: 20px;
}

.startContainer {
  display: flex;
}

.startContainer > div {
  flex: 1;
}

.gameContainer {
  display: flex;
}

.gameContainer > div {
  flex: 1;
}

.gameCode {
  padding: 20px;
  background-color: rgb(206, 228, 225);
  border: 2px solid rgb(140, 166, 163);
  border-radius: 3px;
  font-size: 24px;
  display: inline-block;
  margin: 20px 0;
}

.generateButton {
  display: block;
}

.startButton {
  display: block;
}
