.gameContainer {
  display: flex;
}

.gameContainer > div {
  flex: 1;
}

.finishingLine {
  position: relative;
  left: 420px;
  width: 10px;
  background-color: #000;
}

.loading {
  transition:all linear 0.1s;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 25px;
  margin: 0 auto;
}
