.gameContainer {
  display: flex;
}

.gameContainer > div {
  flex: 1;
}

.progressPanel {
  background-color: rgb(206, 228, 225);
  border: 2px solid rgb(140, 166, 163);
  border-radius: 3px;
  text-align: center;
}

.finishingLine {
  position: relative;
  left: 420px;
  width: 10px;
  background-color: #000;
}
