.gameContainer {
  padding: 40px;
}

.gameContainer h1 {
  text-align: center;
  font-size: 60px;
  font-weight: lighter;
  margin-top: 0;
}

.gameContainer h2 {
  width: 100%;
  font-size: 40px;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 10px;
}


.gamePanel {
  position: relative;
}


.gameContainer .game {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}


.gameContainer .game {
  transition: opacity cubic-bezier(.4,0,.2,1) 1s;
  transform: translateY(0);
  opacity: 1;
}

/* read more at http://www.yearofmoo.com/2013/08/remastered-animation-in-angularjs-1-2.html */
.gameContainer .game.ng-hide-add {
  /* Only move the slide that is being removed */
  transition: opacity cubic-bezier(.4,0,.2,1) 1s, transform cubic-bezier(.4,0,.2,1) 0.7s;
}
.gameContainer .game.ng-hide {
  transform: translateY(1000px);
  opacity: 0;
}
.gameContainer .game.ng-hide-add, .gameContainer .game.ng-hide-remove {
  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden.
     */
  display: block !important;
}

.finishingLine {
  position: relative;
  left: 420px;
  width: 10px;
  background-color: #000;
}

.mathExpression {
  font-size: 50px;
}

.mathFaceContainer {
  display: inline-block;
}

.avatarCorrectAnswer {
  /* TODO show a check mark */
}

.avatarNoAnswer {
  opacity: .5;
}

.redX {
  display: none;
  background: url("../img/redX.png") no-repeat;
  position: absolute;
  width: 109px;
  height: 109px;
  margin: 8px;
  opacity: 0.7;
}

.avatarWrongAnswer .redX {
  display: block;
}

.sequenceGame {
  display: flex;
}

.sequenceBox {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

.sequencePlayersContainer {
  flex: 1;
}

.sequencePlayers {
  text-align: right;
}

.googleRed {
  background-color: #DB4437;
}

.googleBlue {
  background-color: #4285F4;
}

.googleGreen {
  background-color: #0F9D58;
}

.googleYellow {
  background-color: #F4B400;
}
