.loading {
  transition:all linear 0.1s;
  margin: 0 auto;
  height: 5px;
}

.ranking {
  width: 50%;
  border: solid 1px black;
}

.ranking td {
  padding: 20px;
}

.ranking tr:nth-child(even) {
  background: #DDD;
}

.ranking tr:nth-child(odd) {
  background: #EEE;
}

.rankingPlayer.ng-move {
  transition: all linear 1s;
  max-height: 0px;
  opacity: 0;
}

.rankingPlayer.ng-move.ng-move-active {
  max-height: 40px;
  opacity: 1;
}
