.waitingContainer .loading {
  transition:all linear 0.1s;
  margin: 0 auto;
  height: 5px;
}

.waitingContainer h2.ready {
  text-align: center;
}

.waitingContainer .info {
  height: 180px;
}

.winners-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.waitingContainer .ranking {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.waitingContainer .ranking table, .waitingContainer .ranking tr {
  width: 100%;
}

.waitingContainer .ranking .position {
  padding-left: 32px;
}

.waitingContainer .ranking .avatar {
  padding-left: 16px;
  padding-right: 16px;
}

.waitingContainer .ranking .score {
  padding-right: 32px;
}

.waitingContainer .ranking {
  font-size: 40px;
}

.waitingContainer .ranking .name {
  font-weight: lighter;
  width: 100%;
}



.waitingContainer .rankingPlayer.ng-move {
  transition: all linear 1s;
  max-height: 0px;
  opacity: 0;
}

.waitingContainer .rankingPlayer.ng-move.ng-move-active {
  max-height: 40px;
  opacity: 1;
}
