.waitingContainer .loading {
  transition:all linear 0.1s;
  margin: 0 auto;
  height: 5px;
}

.waitingContainer h2.ready {
  text-align: center;
}

.waitingContainer .info {
  height: 180px;
}

.winners-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winners-list {
  margin-left: auto;
  margin-right: auto;
}

.ranking {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.ranking table, .ranking tr {
  width: 100%;
}

.ranking .position {
  padding-left: 32px;
}

.ranking .avatar {
  padding-left: 16px;
  padding-right: 16px;
}

.ranking .score {
  padding-right: 32px;
}

.ranking {
  font-size: 40px;
}

.ranking .name {
  font-weight: lighter;
  width: 100%;
}



.rankingPlayer.ng-move {
  transition: all linear 1s;
  max-height: 0px;
  opacity: 0;
}

.rankingPlayer.ng-move.ng-move-active {
  max-height: 40px;
  opacity: 1;
}
