<div>

  <h1>Slide up when you have the hot potato!</h1>

  <div class="swipe-container">
    <div ng-repeat="player in players" class="player">
      <div ng-show="$index == potatoIndex" class="potato player-element active"></div>
      <div ng-hide="$index == potatoIndex" class="potato player-element"></div>

      <img ng-src="{{player.imageUrl}}" class="face player-element {{$index == potatoIndex ? 'jump': ''}}"/>
      <div style="height: 200px;" class="player-element">
        <div style="height: {{(life[$index] / maxLife)*200}}px;
                    background-color: {{potatoColor(life[$index])}}"
             class="life-bar"></div>
      </div>
    </div>
  </div>

</div>
