<div class="waitingContainer">

  <div class="info">
    <div ng-show="!gameDataService.isDone() && countdown < 30">
      <h2 class="ready">Get ready!</h2>

      <div class="loading" style="background-color: rgb(255, {{countdown*10}}, 0);
                                  width: {{countdown*3}}%;">&nbsp;</div>
    </div>

    <div ng-show="countdown >= 30 && winners.length == 0">
      <h1>Starting game...</h1>
    </div>

    <div ng-show="gameDataService.isDone() && countdown < 30">
      <h1>End of game</h1>
    </div>

    <div ng-show="countdown >= 30 && winners.length > 0">
      <h2>Winners</h2>
      <div class="winners-container">
        <div class="winners-list">
          <div ng-repeat="winner in winners" class="player-name-box">
            <img ng-src="{{winner.imageUrl}}" class="face big"/>
            <b>{{winner.name}}</b>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h2>Ranking</h2>

    <table class="ranking card">
      <tr ng-repeat="player in players | orderBy:'-score'" class="rankingPlayer">
        <td class="position">{{$index+1}}</td>
        <td class="avatar"><img ng-src="{{player.imageUrl}}" class="face med"/></td>
        <td class="name">{{player.name}}</td>
        <td class="score">{{player.score || 0}}</td>
      </tr>
    </table>

  </div>

</div>
