<div style="width: 100%; text-align: center">

  <div ng-show="!gameDataService.isDone() && countdown < 30">
    <h2>Get ready!</h2>

    <div class="loading" style="background-color: rgb(255, {{countdown*10}}, 0);
                                width: {{countdown*3}}%;">&nbsp;</div>
  </div>

  <div ng-show="gameDataService.isDone() && countdown < 30">
    <h2>End of game</h2>
  </div>

  <div ng-show="countdown >= 30 && winners.length > 0">
    <h2>Winners</h2>
    <div ng-repeat="winner in winners">
      <img ng-src="{{winner.imageUrl}}" class="face"/>
      <b>{{winner.name}}</b>
    </div>
  </div>

  <div align="center">
    <h2>Ranking</h2>

    <table class="ranking">
      <tr ng-repeat="player in players | orderBy:'-score || 0'" class="rankingPlayer">
        <td>
          <b>{{$index+1}}</b>
          <img ng-src="{{player.imageUrl}}" class="face"/>
        </td>
        <td><b>{{player.name}}</b></td>
        <td align="right"><b>{{player.score || 0}}</b>
      </tr>
    </table>

  </div>

</div>
