<div class="gameContainer">
  <div class="gamePanel">
    <waiting-screen ng-show="gameDataService.isWaiting()"></waiting-screen>
    <end-screen ng-show="gameDataService.isDone()"></end-screen>
    <div ng-show="gameDataService.isPlaying()">
      <tap-game ng-show="gameDataService.getType() == 'tap'"></tap-game>
      <shake-game ng-show="gameDataService.getType() == 'shake'"></shake-game>
    </div>
  </div>

  <div class="progressPanel">

    <h3>Scores</h3>
    <div ng-repeat="player in players | orderBy:'score || 0'" class="player">
      <b>{{player.score || 0}}</b><br>
      <img ng-src="{{player.imageUrl}}" class="face"/><br>
      <b>{{player.name}}</b><br>
    </div>

  </div>
</div>
