<div class='startContainer'>

  <div class="player-container">
    <div ng-show="players.length == 0">No one has joined yet.</div>
    <div ng-show="players.length == 1">Need at least one other player.</div>
    <div ng-repeat="player in players" class="player">
      <img ng-src="{{player.imageUrl}}" class="face"/><br>
      <b>{{player.name}}</b>
    </div>
  </div>

  <div class="room-container">
    <div ng-show="code != null" data-ng-init="init()">
      <div class='gameCode card'>{{code}}</div>
    </div>
  </div>


<div class="temp-buttons">
  <button ng-click="start()" ng-show="players.length > 1">Start</button>
  <button ng-click="addDummyPlayers()">Add dummy players for testing</button>
</div>

</div>
