<div class='startContainer'>

  <div class="header">
    <div class="logo">
    </div>
  </div>

  <div class="player-container">
    <div ng-repeat="player in players" class="player player-name-box">
      <img ng-src="{{player.imageUrl}}" class="face big"/><br>
      <b>{{player.name}}</b>
    </div>

    <div ng-show="players.length == 0">No one has joined yet.</div>
  </div>

  <div class="room-container">
    <div class="card message">
      <div ng-show="code != null" data-ng-init="init()">
        <div class='gameCode'>{{code}}</div>
      </div>
      <p>Install the <a href="cloud-cup.apk">Cloud Cup</a> app on your Android phone and enter this game number.</p>
    </div>
  </div>


<div class="temp-buttons" style="display:none;">
  <button ng-click="start()" ng-show="players.length > 1">Start</button>
  <button ng-click="addDummyPlayers()">Add dummy players for testing</button>
</div>

</div>
